@charset "utf-8";
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 460px) {
  .fm-info {
    width: 250px!important;
    padding: 30px 0 !important;
  }
  .about-grid h4 {
    margin-top: 20px;
  }
  .fm-name {
    font-size: 0.5em;
    width: 100%!important;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
.fm-nav {
  background-color: #ECECEC;
  height: 150px;
}
.fm-header .fm-name {
  width: 400px;
  margin: 0 auto;
}
.fm-header p {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  font-size: 18px;
  padding: 100px 0;
  position: relative;
  box-shadow: #0f0f0f;
}
.fm-header p span {
  height: 1px;
  width: 400px;
  background-color: #000;
  position: absolute;
  top: 80px;
  left: -80%;
}
.fm-header p .line2 {
  top: 140px;
  left: 70%;
}
.fm-header .fm-image img {
  display: block;
  width: 230px;
  height: 400px;
  margin: 0 auto;
  transition: all 1s;
}
.fm-header .fm-image img:hover {
  width: 253px;
  height: 440px;
}
.about {
  background-color: #F5F5F5;
  padding: 80px 0;
}
.about .about-info h3 {
  font-family: 'Jockey One', sans-serif;
  margin: 0;
  color: #00B4F1;
  font-size: 44px;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}
.about .about-info h4 {
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: 600;
  margin: 10px 0 16px 0;
  font-style: italic;
}
.about .about-info p {
  text-align: center;
  font-size: 14px;
  color: #000;
  width: 71%;
  margin: 0 auto;
  line-height: 1.8em;
}
.about .about-grids {
  margin-top: 60px;
  opacity: 0.2;
  transition: all 2s;
}
.about .about-grids h4 {
  font-family: 'Jockey One', sans-serif;
  text-align: left;
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
}
.about .about-grids p {
  text-align: left;
  color: #000;
  font-size: 14px;
  line-height: 1.8em;
  padding: 2em 0 0 0;
}
.about .grids-hover {
  opacity: 1;
}
.skills {
  padding: 10em 0 3em;
}
.skills h3 {
  line-height: 24px;
  margin: 0;
  padding: 24px 0 30px;
  letter-spacing: 3px;
  font-style: italic;
  font-family: 'Jockey One', sans-serif;
  color: #00B4F1;
  font-size: 44px;
  text-align: center;
  font-weight: 600;
  position: relative;
}
.skills h3 span {
  width: 300px;
  height: 250px;
  background: url("../images/dance.gif");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all 3s linear;
}
.skills .study2 h4 {
  padding-bottom: 9px;
  font-size: 1.2em;
  color: #000;
}
.skills .study2 .progress:hover .progress-bar {
  width: 100%!important;
}
.interest {
  background-color: #ECECEC;
  padding: 10em 0 3em;
}
.interest h3 {
  line-height: 24px;
  margin: 0;
  padding: 24px 0 30px;
  letter-spacing: 3px;
  font-style: italic;
  font-family: 'Jockey One', sans-serif;
  color: #00B4F1;
  font-size: 44px;
  text-align: center;
  font-weight: 600;
}
.interest h4 {
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: 600;
  margin: 10px 0 16px 0;
  font-style: italic;
}
